<div class="container">
  <div class="jumbotron">
    <div class="about-visual">
      <div class="about-visual-content">
        <h1 class="about-visual-name">
          LOKKI
        </h1>
        <p style="color: #fbfaf5; padding-top: 150px;font-size: 2em; ">
          LOKKI ＝ フィンランド語でカモメ<br><br><br>
          「LOKKI」はおすすめの観光スポットやグルメ、宿泊情報などを参考に、<br>
          自分だけの旅行計画を作成することができます。<br>
          旅から帰ってきた後には実際に現地で撮影した写真やオススメスポットなどを<br>
          ご自身でも登録してみてくださいね。<br>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" style="margin-top: 50px; color: #663333;">
    <div class="col-md-12">
      <h3>Outline</h3>
      <div class="contact-item">
        <p>DMM WEBCAMP 2019年12月生</p>
        <p>番条優也のポートフォリオです</p>
      </div>
    </div>
    <div class="col-md-12">
      <h3>Contact Info</h3>
      <div class="contact-item">
        <p>Phone: 00-000-0000</p>
        <p>Email: XXXX＠XXXX.com</p>
      </div>
    </div>
</div>