/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

.navbar{
	background-color: #e6e6fa;
}

.navbar-header{
	margin-top: 5px;
}

.navbar-right{
	margin: 30px 30px 0 0;
}

.form-inline{
	float: right;
	margin: 25px 20px 0 0;
}

ul{
	list-style: none;
	padding-top: 5px;
	padding-right: 50px;
}

li{
	margin-right: 20px ;
}

body , html {
    padding: 0;
    margin: 0;
    height: 100%;
}

footer{
	bottom: 0;
	width: 100%;
	height: 60px;
}

#wrapper{
    padding: 0;
    margin: 0;
	min-height: 81vh !important;
}