// Place all the styles related to the spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.about-visual{
	width: 100%;
	height: 1000px;
	padding: 0;
	background: image-url('about_img.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.about-visual-content{
	width: 100%;
	height: 1000px;
	padding-top: 250px;
	padding-bottom: 200px;
	text-align: center;
  	background-color: rgba( 0, 0, 0, 0.4);
}

.about-visual-name {
  color: #fbfaf5;
  font-size: 9em;
  font-family: 'Homemade Apple', cursive;
}

.about-visual-text {
  margin-top: 30px;
  padding: 50px;
  color: #fbfaf5;
  font-size: 2em;
  font-family: 'Caveat', cursive;
}